.questionnaire-form {

    hr {
        margin-bottom: 10px;
        margin-top: 10px;
    }

    .title {
        font-size: 20px;
    }

    .description {
        font-size: 15px;
    }

    .inline-content {
        display: table;
        width: 100%;

        label {
            display: table-cell;
            width: 125px;
        }

        input {
            display: table-cell;
        }
    }

    button.add-question {
        margin-bottom: 20px;
        border-radius: 60px;
        position: fixed;
        bottom: 0;
        right: 0;
        margin-right: 20px;
        padding: 25px;
        border: none;
        background-color: @main-red;

        &:hover {
            background-color: #BD4448;
        }

        img {
            width: 18px;
        }
    }

    .add-file-container {

        label {
            font-size: 15px;
        }
    }

    .question {
        padding: 15px;
        border-bottom: 1px solid #eee;

        &:last-of-type {
            border-bottom: 0;
        }
    }

    .question-value {
        @base-padding-left: 125px;

        padding-left: @base-padding-left;
        width: 100%;
    }

    .option-multiple-choice {
        .question-value;
        display: table;

        input {
           display: table-cell;
        }

        input[type="radio"] {
            width: 5%;
        }

        input[type="radio"]:checked:before {
            content: 'Correcta!';
            position: relative;
            right: 55px;
            bottom: 2px;
            color: #2ecc71;
            font-size: 13px;
        }

        input[type="text"] {
            width: 55%;
        }

        .delete-option-button {
            height: 34px;
            padding: 6px 12px;
            font-size: 14px;
            line-height: 1.42857143;
            margin-left: 5px;
            margin-top: -4px;
            color: black;
            background-color: #ECF0F1;
            border-color: #95a5a6;

            &:hover {
                color: #fff;
                background-color: #bdc3c7;
                border-color: #7f8c8d;
            }
        }
    }

    .add-option-multiple-choice {
        .question-value;

        padding-left: @base-padding-left + 28;

        .add-other-option-button {
            border: none;
            padding: 0;
            background: none;
            text-decoration: underline;
            color: darkslateblue;
        }
    }

    #send-new-questionnaire-button {
        background-color: #5cb85c;

        &:hover {
            background-color: #27ae60;
        }
    }

    .submit-feedback {
        display: none;
        font-size: 15px;
        margin-left: 20px;
    }
}

.questionnaires-table {

    .delete-questionnaire, .activate-questionnaire {
        display: none;
    }
}
