/*.title {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 25px;
}

.chart-wrapper {
    text-align: center;
}

ul.doughnut-legend {

    text-align: left;
    list-style: none;
    display: inline-block;
    position: relative;
    bottom: 66px;

    li {
        cursor: pointer;
    }

    span {
        display: inline-block;
        width: 20px;
        height: 20px;
        border-radius: 5px;
        margin-right: 5px;
        margin-top: 3px;
        position: relative;
        top: 5px;
    }

}*/

.report-header {

    h4 {
        margin-bottom: 12px;
        color: #8C8C8C;
    }

    h3 {
        margin-top: 0;
        font-size: 27px;
        .font-helvetica-bold;
    }

    p {
        font-size: 20px;
        color: #C1272D;
    }
}

.report-wrapper {

    .questionnaire-question {

        border-bottom: 2px solid @main-red;

        h4 {
            font-size: 16px;
            margin-bottom: 20px;
            color: #626269;
            margin-top: 0px;
        }

        h5 {
            font-size: 14px;
            border-bottom: 1px solid #B1BBB2;
            padding-bottom: 5px;
            display: inline-block;
        }

        .multiple-choice-option-description {
            .font-helvetica-bold;
        }

        &:first-child {
            margin-top: 0;
        }
    }
}
