@font-face {
    font-family: "Helvetica";
    src: url("../../fonts/Helvetica.otf") format("opentype");
}

@font-face {
    font-family: "Helvetica-Normal";
    src: url("../../fonts/Helvetica-Normal.otf") format("truetype");
}

@font-face {
    font-family: "Helvetica-Oblique";
    src: url("../../fonts/Helvetica-Oblique.otf") format("opentype");
}

@font-face {
    font-family: "Helvetica-Light";
    src: url("../../fonts/Helvetica-Light.otf") format("opentype");
}

@font-face {
    font-family: "Helvetica-BoldOblique";
    src: url("../../fonts/Helvetica-BoldOblique.otf") format("opentype");
}

@font-face {
    font-family: "Helvetica-Bold";
    src: url("../../fonts/Helvetica-Bold.ttf") format("truetype");
}
