// --- COLORS

@main-color: #C1232D;
@main-color-rgb: rgb(193,35,45);
@stripes-color: #D3D3D3;

// --- GENERAL
@content-width: 800px;

// --- BODY
@site-width: 1280px;

// --- HEADER
@header-height: 440px;

// --- NAV
@nav-color: #333333;
@nav-height: 63px;
@nav-link-height: 57px;
