// --- COLORS

@main-red: #C1272D;
@main-black: #333333;
@main-red-rgb: rgb(193,35,45);
@stripes-color: #D3D3D3;

// --- GENERAL
@content-width: 710px;
@content-width-padding: 33px;
@content-font-size: 12px;
@content-title-font-size: 22px;

// --- BODY
@site-width: 1280px;

// --- HEADER
@header-height: 275px;
@home-header-height: 440px;
@logo-width: 441px;

// --- NAV
@nav-color: @main-black;
@nav-height: 63px;
@nav-link-padding: 20px 25px;
@nav-border-height: 6px;

// --- FOOTER
@footer-color: @main-black;
@footer-icon-width: 34px;
@footer-content-height: 124px;
